################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
ConsoleApp1/.vs/ConsoleApp1/v15
ConsoleApp1/ConsoleApp1/bin/Debug
ConsoleApp1/ConsoleApp1/obj/Debug
ConsoleApp1/ConsoleApp1/bin/Release
ConsoleApp1/ConsoleApp1/obj/Release
ConsoleApp1/packages
ConsoleApp1/CSVParser/bin/Debug
ConsoleApp1/CSVParser/obj/Debug
ConsoleApp1/CSVParser/bin/Release
ConsoleApp1/CSVParser/obj/Release
addHierarchyTest/obj/
addHierarchyTest/bin/Debug/
